# dependencies
node_modules/

# Expo
.expo/
expo-env.d.ts

# macOS
.DS_Store
*.pem

# local env files
.env.local

# Expo
.expo

# 凭证文件
keystores/release.keystore
google-services.json
GoogleService-Info.plist
