# dependencies
node_modules/

# build
android/
ios/
dist/

# Expo
.expo/
expo-env.d.ts

# macOS
.DS_Store
*.pem

# local env files
.env.local

# Expo
.expo

# 凭证文件
credentials.json
keystores/release.keystore
storepass
google-services.json
google-play-service-account.json
GoogleService-Info.plist
