/**
 * 注意：如果更改了主题色，需相应更新 @/lib/theme.ts
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 50 29% 95%;
    --foreground: 60 3% 8%;
    --card: 48 33% 97%;
    --card-foreground: 60 3% 8%;
    --popover: 48 33% 97%;
    --popover-foreground: 60 3% 8%;
    --primary: 15 55% 52%;
    --primary-foreground: 48 33% 97%;
    --secondary: 48 21% 89%;
    --secondary-foreground: 45 3% 29%;
    --muted: 48 21% 89%;
    --muted-foreground: 48 3% 36%;
    --accent: 45 25% 92%;
    --accent-foreground: 45 3% 29%;
    --destructive: 0 56% 45%;
    --destructive-foreground: 48 33% 97%;
    --border: 45 25% 92%;
    --input: 48 21% 89%;
    --ring: 207 82% 57%;
    --radius: 12px;
  }

  .dark:root {
    --background: 60 3% 8%;
    --foreground: 48 33% 97%;
    --card: 60 2% 18%;
    --card-foreground: 48 33% 97%;
    --popover: 60 2% 18%;
    --popover-foreground: 48 33% 97%;
    --primary: 15 55% 52%;
    --primary-foreground: 48 33% 97%;
    --secondary: 60 2% 18%;
    --secondary-foreground: 48 33% 97%;
    --muted: 60 2% 18%;
    --muted-foreground: 48 6% 67%;
    --accent: 45 3% 24%;
    --accent-foreground: 48 33% 97%;
    --destructive: 0 56% 45%;
    --destructive-foreground: 48 33% 97%;
    --border: 45 3% 24%;
    --input: 45 3% 24%;
    --ring: 15 63% 60%;
    --radius: 12px;
  }

  html,
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  *::selection {
    background-color: hsl(var(--primary) / 0.18);
    color: hsl(var(--foreground));
  }
}
